@import global-style

$fp-font: 'Finger Paint', cursive
$content-title-font: 'Tenor Sans', sans-serif
body 
    background-image: linear-gradient(to top, #dee7ee 0%, white 100%);  

.home 
    width: 80%
    padding: 150px 20px 80px 20px
    margin: auto    
    div 
        margin-bottom: 100px
  
button 
    border: none
    min-height: 40px
    min-width: 180px
    cursor: pointer
    background: white
    margin-top: 20px
    a 
        color: black 
button:hover 
    background: none 
    border: 1px solid white    
#comingsoon 
    background: grey
#comingsoon:hover
    border: none 
    background: grey         
#fp-font
    font-family: $fp-font
    font-size: 60px
    color: blue

#emoji 
    font-size: 70px   
#emoji-work 
    font-size: 120px

.intro
    p 
        font-size: 70px
        margin-top: 0px    
        color: #383838
  
.work, .connect 
    h2
        font-family: $fp-font        
        font-size: 30px
        margin-top: 0
        color: #3a3a3a
        p 
            margin-top: -6px

.project-item 
    width: 80% 
    background-color: #EBE2BB
    padding: 20px 30px  20px 45px 
    margin-bottom: 50px     
    min-height: 300px
    display: flex 
    flex-direction: column
    align-items: self-start
    justify-content: center
    // margin: auto
.ta 
    background-image: url('../images/YourName.jpg')
    background-position: bottom

article 
    div
        // margin-bottom: 30px
    p 
        font-family: $content-title-font
        font-size: 15px
#title 
    font-size: 28px 
    margin-bottom: -10px
hr 
    width: 85% 

.connect 
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center    
    width: 80% 
    margin: auto
    padding: 50px 10px 70px 10px 
    text-align: center
    .social-links
        display: flex
        flex-direction: row 
        justify-content: center
        align-items: center


@media screen and ( max-width: 850px )

    .intro 
        p 
            font-size: 48px
        #fp-font 
            font-size: 40px    


@media screen and ( max-width: 670px )

    .intro 
        p 
            font-size: 45px
        #fp-font 
            font-size: 35px  

    .project-item
        padding: 40px 20px  


@media screen and ( max-width: 420px  )
        .intro 
            p 
                font-size: 30px
            #fp-font 
                font-size: 20px    
