html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Italiana", serif;
}

a {
  text-decoration: none;
}

header {
  width: 80%;
  padding: 50px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

#logo {
  font-size: 28px;
  color: black;
}

.menu-icon {
  cursor: pointer;
  letter-spacing: 3;
  z-index: 10;
}

#menu-bar {
  display: block;
  width: 47px;
  height: 2px;
  background: #333333;
  position: absolute;
  line-height: 2;
}

#menu-bar span:nth-child(3) {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-icon:hover span:nth-child(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.close-icon {
  display: block;
  float: right;
  top: 70px;
  right: 135px;
  width: 47px;
  height: 45px;
  position: fixed;
}

.close-icon span {
  width: 47px;
  height: 2px;
  background: #333333;
  display: block;
}

.close-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-icon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-slide {
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
}

.menu-slide ul {
  top: 40%;
  position: relative;
  margin-right: auto;
  margin-left: -20px;
  text-align: center;
}

.menu-slide ul li {
  list-style: none;
  line-height: 60px;
}

.menu-slide p {
  text-align: center;
  position: absolute;
  top: 50%;
}

footer {
  font-family: "Italiana", serif;
  float: right;
  padding-right: 95px;
  margin-bottom: 60px;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .menu-icon {
    right: 20px;
    margin-right: 0px;
  }
  .close-icon {
    right: 30px;
  }
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dee7ee), to(white));
  background-image: linear-gradient(to top, #dee7ee 0%, white 100%);
}

.home {
  width: 80%;
  padding: 150px 20px 80px 20px;
  margin: auto;
}

.home div {
  margin-bottom: 100px;
}

button {
  border: none;
  min-height: 40px;
  min-width: 180px;
  cursor: pointer;
  background: white;
  margin-top: 20px;
}

button a {
  color: black;
}

button:hover {
  background: none;
  border: 1px solid white;
}

#comingsoon {
  background: grey;
}

#comingsoon:hover {
  border: none;
  background: grey;
}

#fp-font {
  font-family: "Finger Paint", cursive;
  font-size: 60px;
  color: blue;
}

#emoji {
  font-size: 70px;
}

#emoji-work {
  font-size: 120px;
}

.intro p {
  font-size: 70px;
  margin-top: 0px;
  color: #383838;
}

.work h2, .connect h2 {
  font-family: "Finger Paint", cursive;
  font-size: 30px;
  margin-top: 0;
  color: #3a3a3a;
}

.work h2 p, .connect h2 p {
  margin-top: -6px;
}

.project-item {
  width: 80%;
  background-color: #EBE2BB;
  padding: 20px 30px  20px 45px;
  margin-bottom: 50px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ta {
  background-image: url("../images/YourName.jpg");
  background-position: bottom;
}

article p {
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
}

#title {
  font-size: 28px;
  margin-bottom: -10px;
}

hr {
  width: 85%;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  padding: 50px 10px 70px 10px;
  text-align: center;
}

.connect .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .intro p {
    font-size: 48px;
  }
  .intro #fp-font {
    font-size: 40px;
  }
}

@media screen and (max-width: 670px) {
  .intro p {
    font-size: 45px;
  }
  .intro #fp-font {
    font-size: 35px;
  }
  .project-item {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 420px) {
  .intro p {
    font-size: 30px;
  }
  .intro #fp-font {
    font-size: 20px;
  }
}
/*# sourceMappingURL=home-style.css.map */